/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

img {
    height: 100%;
}

button {
    border: 2px solid grey;
    font-weight: bold;
}
/* HEADER */

header {
    height: 60px;
}

/* MAIN */
main {
    height: calc(100vh - 6vh - 60px);
    background-color: darkgoldenrod;
}

.grid-container {
    width: 50vw;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

 /*  BONUS  */
.cell-100 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.cell-81 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cell-49 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.active {
    background-color: rgb(20, 59, 174);
}

.bomb {
    background-image: url(https://t4.ftcdn.net/jpg/00/43/61/85/360_F_43618541_gbHVb99nGAjSQqoK2irJyJvbLJFEwffS.jpg);
    background-size: cover;
}


/* FOOTER */

footer {
    height: 6vh;
}